<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>API Docs</title>
  <style>
    body {
      width: 920px;
      margin: 0 auto;
      font-size: 14px;
    }

    a {
      color: #4183C4;
    }

    pre {
      color: #393939;
      background-color: #fafafb;
      padding: 10px;
      margin: 2em 0;
      border: 1px solid #cacaca;
      border-radius: 3px;
      font: 12px/1.4em Consolas, 'Liberation Mono', Courier, monospace;
      overflow: auto;
    }

    ol code,
    ul code,
    p code {
      font-size: 12px;
      margin: 0;
      border: 1px solid #ddd;
      background-color: #f8f8f8;
      border-radius: 3px;
      padding: 0;
    }
  </style>
</head>
<body>
<%= body %>
</body>
</html>
